/*-------GLOBAL--------*/


:root {
    --main-background-color:#F6F6F6;
    --main-orange:#ED7D2B;
    --main-medium-blue:#2B478B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Exo 2', sans-serif;
    background-color: var(--main-background-color);
    font-size:1.6rem;
    
}


/*-------NAVBAR--------*/
nav#navbar{
    background-color: var(--main-orange);
    display:flex;
    justify-content: space-between;
    align-items: center;

    font-size:2.0rem;
    color: white;

    position: fixed;
    width: 100%;
    z-index: 5;
}

nav img#logo-nome{
    width:30rem;
    max-width: 100%;
    padding: 10px 20px;
}

 nav ul.navlist li.navitem{
    display: inline;
    padding-right: 30px;
}

nav div.btn-login{
    padding-right:20px;
}

/*-------MAIN--------*/
main{
    padding-top:90px;
}


/*-------HOME--------*/
#home {
    display:flex;
    background-color: var(--main-orange);
    padding:50px 30px;
    color: white;
}

.home-text-container .home-title,
.home-text-container .home-line,
.home-text-container .home-button{
    margin-bottom: 10px;
}


.home-text-container .home-title{
    font-size:2.4rem;
}
.home-text-container .home-line{
    border: 3px solid;
    width:30%;
}

.home-text-container .home-button{
    background-color: white; /* Green */
    border: none;
    color:var(--main-orange);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius:30px;
}
.home-img-container .home-img{
   width:800px;
   max-width: 100%;
}


/*-------SOBRE--------*/
.sobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fas{
    font-size: 6rem;
    margin-bottom: 20px;
    color:var(--main-orange);
}
.sobre .sobre-item{
    margin:40px 20px;
    text-align: center;
    width:200px;
    height: 200px;
    padding:20px;

    border-radius: 3rem;
    box-shadow: 0 0 20px 10px #d9d9d9;
   
}

.sobre .sobre-item h3{
    color:var(--main-medium-blue);
}

/*-------ESCOLAS--------*/
section.escolas{
    background-color: var(--main-orange);
    text-align:center;
    color:white;
}

.escolas-title{
    padding-top:30px;
}
.line{
    margin: 10px auto;
    border: 3px solid;
    width:30%;
}
#items-wrapper {
    width: 80vw;
    margin: 20px auto;
    padding: 20px;
  }
  
  #items {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    --webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  
  .item {
    flex: none;
    
    width: 100%;
    height: 400px;
    
    scroll-snap-align: start;
    pointer-events: none;

    position: relative;
    text-align: center;
  }

  .item h2{
    z-index: 2;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    margin-top: 100px;
    font-size: 3rem;
}

.item img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
}


/*-------DEPOIMENTOS--------*/
.depoimentos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    /* background-color:var(--main-orange); */
    /* margin-top:-20px; */
}


.depoimento{
    margin:40px 20px;
    text-align: center;
    width:400px;
    height: 300px;
    padding:20px;

    border-radius: 3rem;
    box-shadow: 0 0 20px 10px #d9d9d9;
}

.depoimento img,
.depoimento h3{
    padding:20px;
}
.depoimento img{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit: cover;
}